body {
    font-family: Arial, sans-serif;
    max-width: auto;
    max-height: auto;
    background-color: #f0edf3;
}

header {
    text-align: center;
    background-color: #a558e8;
    color: white;
    padding: 20px 0;
    font-size: 30px;
}

.logo {
    width: 500px;
    height: auto;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 60px 0;
    background-color: #333;
    text-align: center;
    font-size: 50px;
}

nav ul li {
    display: inline;
    margin: 10px;
}

.botao {
    text-decoration: none;
    color: white;
    background-color: #a558e8;
    padding: 30px 55px;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.botao:hover {
    background-color: #a558e8;
}

#sobre {
    padding: 100px;
    text-align: center;
    font-size: 60px;
    height: auto;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 35px;
}